@import 'src/assets/scss/reusable';
@import 'src/assets/scss/mixins';
@import 'src/assets/scss/variables';

a {
  color: $primary-color;
}

header {
    padding: 1rem 0;
    background-color: $secondary-color;
    position: relative;
    @media(min-width: 768px) {
        padding: .5rem 0;
    }
}

.container {
    @include flex(row, nowrap, space-between, center);
}

.brand > a {
    font-size: 1.5rem;
    padding: .5rem .8rem;
    color: $secondary-color;
    background: $primary-color;
}

nav {
    position: absolute;
    top: 78.39px;
    left: 0;
    width: 100%;
    background: $secondary-color;
    border-top: 1px solid rgb(80, 80, 80);
    border-bottom: 1px solid rgb(80, 80, 80);
    opacity: 0;
    z-index: -1;
    transition: .4s ease-in-out;
    &.open {
        opacity: 1;
        z-index: 10;
    }
    @media(min-width: 768px) {
        position: initial;
        top: unset;
        left: unset;
        width: unset;
        border-top: none;
        border-bottom: none;
        opacity: 1;
        z-index: 1;
    }
}

ul {
  @include flex(row, nowrap, flex-end, center);
  width: 90%;
  margin: auto;
  @media(min-width: 768px) {
      width: unset;
      margin: unset;
  }
  li {
    a {
      position: relative;
      transition: .4s ease-in-out;
      &::after {
        position: absolute;
        bottom: 10px;
        left: 1rem;
        width: 0;
        height: 1px;
        content: "";
        background: $primary-color;
        transition: .4s ease-in-out;
      }
      &:hover::after {
        width: calc(100% - 2rem);
      }
      &:hover, &.active {
        color: #fff;
      }
      @media(min-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }
}

.mobile-menu-icon {
    @include flex(column, none, space-between, initial);
    width: 30px;
    height: 20px;
    cursor: pointer;
    > div {
        height: 2px;
        background: $primary-color;
        transition: .4s ease-in-out;
        &:nth-child(1) {
            width: 85%;
        }
        &:nth-child(2) {
            width: 100%;
        }
        &:nth-child(3) {
            width: 60%;
        }
    }
    &.menu-visibility {
        > div:nth-child(1) {
            width: 100%;
            transform: translateY(10px) rotate(45deg);
        }
        > div:nth-child(2) {
            width: 0;
        }
        > div:nth-child(3) {
            width: 100%;
            transform: translateY(-8px) rotate(-45deg);
        }
    }
    @media(min-width: 768px) {
        display: none;
    }
}
