<header>
  <div class="container">
    <div class="brand">
      <a routerLink="/">FOOD BLOG</a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="categories" routerLinkActive="active" class="p-1" closeMenu>Categories</a></li>
        <li><a routerLink="countries" routerLinkActive="active" class="p-1" closeMenu>Countries</a></li>
        <li><a routerLink="search" routerLinkActive="active" class="p-1" closeMenu>Search</a></li>
      </ul>
    </nav>
    <div class="mobile-menu-icon" toggleMenu>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</header>
