@import 'src/assets/scss/variables';

div {
    position: fixed;
    right: -50px;
    bottom: 20px;
    padding: 0.5rem;
    background: $primary-color;
    cursor: pointer;
    transition: .4s ease-in-out;
    span {
        color: #fff;
    }
    &.show {
        right: 0;
    }
}
