@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';
@import 'src/assets/scss/reusable';

:host {
    height: 100%;
}

.hero {
    position: relative;
    height: 100%;
}

img {
    object-fit: cover;
    object-position: bottom center;
    width: 100%;
    height: calc(100vh - 155.17px);
}

.intro {
    @include flex(column, nowrap, center, center);
    position: absolute;
    top: 78.39px;
    left: 0;
    width: 100%;
    height: calc(100vh - 155.17px);
    background-color: rgba(0,0,0,0.6);
    p {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
        color: #fff;
    }
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: $primary-color;
        @media(min-width: 768px) {
            font-size: 3rem;
            margin-bottom: 1.2rem;
        }
        @media(min-width: 1024px) {
            font-size: 3.5rem;
            margin-bottom: 1.5rem;
        }
    }
}
