@import 'src/assets/scss/reusable';
@import 'src/assets/scss/variables';

div {
  margin-bottom: 2rem;
}

input {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  background: $bg-color;
  color: #fff;
  &::placeholder {
    color: $primary-color;
  }
  &:focus {
    outline: 1px solid $primary-color;
  }
}

.meals-found {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

p {
  font-size: 1.2rem;
  color: #fff;
}

.no-meals-found {
  text-align: center;
}
