@import 'src/assets/scss/reusable';
@import 'src/assets/scss/variables';

.search-input-container {
  margin-bottom: 2rem;
}

input {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  background: $bg-color;
  color: #fff;
  &::placeholder {
    color: $primary-color;
  }
  &:focus {
    outline: 1px solid $primary-color;
  }
}

h3 {
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.no-meals-found-container {
  @include flex(row, nowrap, center, center);
  > div {
    @include flex(row, nowrap, center, center);
    width: calc((100% - 200px)/2);
    height: 4px;
    background: $bg-color;
  }
  > p {
    text-align: center;
    width: 200px;
    color: #fff;
    @media(min-width: 960px) {
      font-size: 1.1rem;
    }
  }
}
