<section class="container py-2">
  <h2>SEARCH MEALS</h2>
  <div class="search-input-container">
    <label for="search"></label>
    <input type="text" id="search" placeholder="Enter meal name, e.g. moussaka" [(ngModel)]="mealForSearch" (ngModelChange)="onMealSearch()" autocomplete="off"/>
  </div>
  <ng-container *ngIf="!loading; else loadingTpl">
    <ng-container *ngIf="mealForSearch && meals">
      <section class="grid">
        <article *ngFor="let meal of meals" class="card meal-card" role="link" (click)="navigateToMeal(meal.strMeal)">
          <h3>{{ meal.strMeal }}</h3>
        </article>
      </section>
    </ng-container>

    <ng-container *ngIf="mealForSearch && !meals">
      <div class="no-meals-found-container">  
        <div></div>
        <p>NO MEALS FOUND</p>
        <div></div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loadingTpl>
    <app-loader></app-loader>
  </ng-template>
</section>
