@import 'src/assets/scss/variables';
@import 'src/assets/scss/reusable';
@import 'src/assets/scss/mixins';

:host {
    cursor: pointer;
}

.card {
    @include flex(row, nowrap, space-between, center);
    padding: 0;
}

.country-flag-name-container {
    @include flex(row, nowrap, initial, center);
}

.country-flag-container {
    width: 60px;
    height: 60px;
}

h3 {
    margin-left: 1rem;
    color: #fff;
}

span {
    font-size: 2rem;
    padding-right: 1rem;
    color: $primary-color;
    transition: .4s ease-in-out;
}
