@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

.loader-container {
    @include flex(column, nowrap, center, center);
}

.loader {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
    animation: rotate 1.2s infinite alternate;
}

span {
    font-size: 1.1rem;
    color: #fff;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
