@import './assets/scss/variables';

body {
    background: $secondary-color;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.9rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, a {
    font-family: LatoRegular;
}

h3, p, span, li, button, button > a {
    font-family: LatoRegular;
}

h2, h3 {
    color: $primary-color;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 0 30px #000;
  @media(min-width: 1024px) {
      font-size: 2rem;
  }
}

h3 {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
}

input {
  border: none;
  outline: none;
}
