@import "src/assets/scss/reusable";
@import 'src/assets/scss/mixins';

.card {
  @include flex(row, nowrap, center, center);
  height: 90px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  position: relative;
  &:hover::after {
    @include flex(row, nowrap, center, center);
    font-size: 1.3rem;
    font-family: LatoRegular;
    position: absolute;
    top: 0;
    left: 0;
    content: 'SHOW RECIPE';
    width: 100%;
    height: 100%;
    background: $primary-color;
    color: #fff;
    letter-spacing: .1rem;
  }
}

h3 {
  text-align: center;
  color: #fff;
}
