@import 'src/assets/scss/variables';
@import 'src/assets/scss/reusable';
@import 'src/assets/scss/mixins';

.card {
  padding: 0 0 1rem 0;
}

h3 {
    text-align: center;
    padding: 0.8rem 0;
}

.img-container {
  width: 150px;
  margin: 0 auto .8rem auto;
}

.card-footer {
  @include flex(row, nowrap, initial, center);
  > div {
    width: calc((100% - 150px)/2);
    height: 1px;
    background: $primary-color;
  }
}

.btn-primary {
  display: block;
  width: 150px;
  margin: auto;
  a {
    width: 100%;
    color: #fff;
  }
}
