@import 'src/assets/scss/variables';
@import 'src/assets/scss/reusable';
@import 'src/assets/scss/mixins';

.card {
  padding: 0 0 1rem 0;
}

h3 {
    text-align: center;
    padding: 0.8rem 0;
    color: #fff;
}

h3, img {
    margin-bottom: 1rem;
}

.img-container {
  width: 150px;
  margin: auto;
}

.btn-secondary {
  display: block;
  width: 150px;
  margin: auto;
  border-radius: 4px;
  a {
    width: 100%;
    color: #fff;
  }
}
