@import 'src/assets/scss/variables';
@import 'src/assets/scss/reusable';
@import 'src/assets/scss/mixins';

.card {
  border-left: 1px solid $primary-color;
}

h3 {
    text-align: center;
    padding: 0.8rem 0;
    color: #fff;
}

h3, img {
    margin-bottom: 1rem;
}

.img-container {
  width: 200px;
  margin: auto;
}

.btn-secondary {
    display: block;
    width: 100%;
    a {
      width: 100%;
      color: #fff;
    }
}
